<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>PIXL</title>
    <link rel="stylesheet" href="/Styles/site.css" />
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/Js/site.js"></script>
  </head>

  <body>
    <div class="container">
      <h1 class="mb-4 text-center">Heat Map</h1>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            <div class="card-subtitle text-muted mb-2">
              <div class="card-text mb-2">Tesing Botstrap</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
