/* GENERAL */
/* Global styles 
------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

.bg-image-full {
  background: no-repeat center center scroll;
  background-position: 50% 35%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.sep {
  vertical-align: middle;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.element-ddl {
  float: right;
  margin-right: 70px;
  margin-top: 10px;
}
.detector-group {
  margin-left: 75px;
  margin-bottom: 15px;
}

#legend {
  float: left;
  margin-left: 70px;
  margin-top: 250px;
}

.pixl-img {
  opacity: 0.45;
}

.about {
  margin-top: 50px;
}

.card-img-top {
  height: 245px;
  width: 350px;
}

.header-text {
  font-size: 1.2em;
}

.card-info {
  font-size: 0.75em;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}

.dt {
  margin-top: 25px;
  margin-bottom: 75px;
}

.dt-data-page {
  margin-top: 75px;
  margin-left: 25px;
  margin-right: 25px;
}

.d-inline-flex:not(:first-of-type) {
  margin-top: 20px;
}

.btn-submit {
  margin-top: 30px;
}
input[type="number"] {
  width: 250px;
}
