/* GENERAL */
/* Global styles 
------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

h1 {
  color: red;
}

.row,
.col {
  border: 1px solid black;
}

.detB {
  margin-top: 100px;
  margin-bottom: 50px;
}
